# Cole estas variáveis em: Netlify > Site configuration > Environment variables
POWER_AUTOMATE_LEAD_WEBHOOK=https://SEU-LINK-DO-POWER-AUTOMATE
POWER_AUTOMATE_RESERVA_WEBHOOK=https://SEU-LINK-DE-RESERVAS-SE-TIVER
GA4_ID=G-XXXXXXXXXX
GTM_ID=GTM-XXXXXXX
META_PIXEL_ID=000000000000000
